In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import json
import re
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, RobustScaler
import matplotlib.pyplot as plt

# Convert the json data in string (transformed by the pd.read_csv) to string

In [82]:
data = pd.read_csv("../bpideep/rawdata/data2020-12-03.csv")

In [83]:
def load_json_field(bad_json):
    regex = r"\w\'\w"
    subst = ""
    bad_json = re.sub(regex, subst, bad_json)
    bad_json = bad_json.replace("d' Arrouzat", "darrouzat")
    good_json = bad_json.replace("\'", "\"").replace("None", "null").replace("True", "true").replace("False", "false")
    
    return json.loads(good_json)

In [84]:
data["team"] = data["team"].apply(load_json_field)
data["industries"] = data["industries"].apply(load_json_field)
data["investors"] = data["investors"].apply(load_json_field)
data["fundings"] = data["fundings"].apply(load_json_field)

---
En attente du retour de Florent

In [39]:
missing = pd.read_csv("../bpideep/data/missing_employee_count.csv")

missing

,Unnamed: 0,name,employees_latest,employees,linkedin_url,launch_year,target,company_status,check
0,50,Avril,NaN,5001-10000,https://www.linkedin.com/company/1238517,1983.0,1.0,operational,3108.0
1,141,Enancio,NaN,2-10,https://www.linkedin.com/company/enancio,2017.0,1.0,operational,1.0
2,520,Uniris,NaN,NaN,https://www.linkedin.com/company/uniris/,NaN,1.0,operational,11.0
3,590,AUM BIOSYNC,NaN,11-50,https://www.linkedin.com/company/aumbiosync/,2016.0,1.0,operational,17.0
4,627,Medetia Pharmaceuticals,NaN,2-10,https://www.linkedin.com/company/medetia-pharm...,2019.0,1.0,operational,4.0
5,631,NANOZ,NaN,NaN,https://www.linkedin.com/company/nanozentrum-k...,NaN,1.0,operational,9.0
6,741,Noova,NaN,NaN,https://www.linkedin.com/company/9419891,NaN,0.0,acquired,4.0
7,1001,Archos,NaN,51-200,https://www.linkedin.com/company/archos,1988.0,0.0,operational,147.0
8,1019,BimBamJob,NaN,NaN,https://www.linkedin.com/company/bimbamjob,NaN,0.0,operational,29.0
9,1049,Clean Cells,NaN,NaN,https://www.linkedin.com/company/clean-cells,2000.0,0.0,operational,96.0
10,1081,EFFICIENCIA,NaN,NaN,https://www.linkedin.com/company/efficiencia,NaN,0.0,closed,1.0
11,1089,Esi Group,NaN,1001-5000,https://www.linkedin.com/company/esi-group,1973.0,0.0,operational,1721.0
12,1182,Marguerite,NaN,NaN,https://www.linkedin.com/company/9403709,NaN,0.0,operational,7.0
13,1184,MDB Texinov,NaN,51-200,https://www.linkedin.com/company/1452560,1972.0,0.0,operational,31.0
14,1227,Peopeo,NaN,NaN,https://www.linkedin.com/company/peopeoboombox/,NaN,0.0,operational,2.0
15,1506,Le Closet,NaN,11-50,https://www.linkedin.com/company/5208845,2014.0,0.5,operational,31.0

CCI Paris Ile de France (9,1793)

In [40]:
data[data.employees_latest.isna()]

,id,name,path,tagline,about,url,website_url,twitter_url,facebook_url,linkedin_url,...,employee_12_months_growth_delta,kpi_summary,team,investors,fundings,traffic,similarweb_chart,job_openings,deep_or_not,target
15,1478165,APSI 3D,apsi_3d,APSI 3D is electric power conversion from 10kW...,aPSI 3D is electric power conversion from 10kW...,https://app.dealroom.co/companies/apsi_3d,http://apsi3d.com,NaN,NaN,https://www.linkedin.com/company/agile-power-s...,...,NaN,"{'id': 117946, 'last_update_date': '2020-09-30...","{'items': [{'id': 1989708, 'name': 'Jacques Fa...","{'items': [{'id': 868190, 'name': 'IRDInov', '...","{'items': [{'id': 206924, 'year': 2015, 'month...","{'visitors': '0', 'annual_growth': None, 'sour...","[{'date': '2017-11-01', 'value': 0}, {'date': ...",0,deeptech,1.0
32,1682182,Amypore,amypore,"Develops AmyP53, a chimeric peptide capable of...",NaN,https://app.dealroom.co/companies/amypore,https://www.amypore.com,NaN,NaN,NaN,...,NaN,"{'id': 1747672, 'last_update_date': '2019-08-1...","{'items': [{'id': 1685338, 'name': 'Driss Fant...","{'items': [{'id': 871041, 'name': 'European In...","{'items': [{'id': 277325, 'year': 2019, 'month...","{'visitors': '0', 'annual_growth': None, 'sour...","[{'date': '2018-12-01', 'value': 0}, {'date': ...",0,deeptech,1.0
50,1249456,Avril,avril,"Avril Group, French industrial and financial p...",NaN,https://app.dealroom.co/companies/avril,http://www.groupeavril.com/en,https://twitter.com/avril,NaN,https://www.linkedin.com/company/1238517,...,NaN,"{'id': 36778, 'last_update_date': '2019-05-17T...","{'items': [{'id': 1243307, 'name': 'Jean-Phili...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '10966', 'annual_growth': -36.667...","[{'date': '2017-10-01', 'value': 17315}, {'dat...",0,deeptech,1.0
86,969382,Ciloa SAS,ciloa_sas,Dedicated to the production of fully native me...,NaN,https://app.dealroom.co/companies/ciloa_sas,https://www.ciloa.fr/,https://twitter.com/ciloabiotech,NaN,NaN,...,NaN,"{'id': 1588010, 'last_update_date': '2019-08-1...","{'items': [{'id': 1990025, 'name': 'Robert Zaï...","{'items': [{'id': 869003, 'name': 'Eurostars S...","{'items': [{'id': 69838, 'year': 2018, 'month'...","{'visitors': '205', 'annual_growth': 19.186046...","[{'date': '2017-07-01', 'value': 172}, {'date'...",0,deeptech,1.0
87,5741,Cinequant,cinequant,Building statistical models and deploying them...,cinequant.com - cinequant.com Συνιστώμενες Συν...,https://app.dealroom.co/companies/cinequant,http://www.cinequant.com,https://twitter.com/cinequant,https://www.facebook.com/pages/cinequant/21436...,https://www.linkedin.com/company/cinequant,...,NaN,"{'id': 246106, 'last_update_date': '2019-05-18...","{'items': [{'id': 36761, 'name': 'Vincent Lepa...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '0', 'annual_growth': None, 'sour...","[{'date': '2015-06-01', 'value': 0}, {'date': ...",0,deeptech,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,1743149,BeamPulse,beampulse,Helps web-marketing teams analysing online beh...,NaN,https://app.dealroom.co/companies/beampulse,http://fr.beampulse.com,https://twitter.com/beampulse,NaN,https://www.linkedin.com/company/beampulse,...,NaN,"{'id': 1782040, 'last_update_date': '2019-09-1...","{'items': [{'id': 1989805, 'name': 'Malika Mul...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '175', 'annual_growth': -96.24866...","[{'date': '2018-12-01', 'value': 4665}, {'date...",0,almost_deeptech,0.5
1492,1730162,Biin,biin,A mobile wallet application to pay for transpo...,Financial Services;FinTech;Information Technol...,https://app.dealroom.co/companies/biin,http://biin.mx,https://twitter.com/biinmex,NaN,https://www.linkedin.com/company/biinmx,...,NaN,"{'id': 1773630, 'last_update_date': '2019-08-1...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '0', 'annual_growth': None, 'sour...","[{'date': '2018-12-01', 'value': 0}, {'date': ...",0,almost_deeptech,0.5
1500,1835082,Ekyno company,ekyno_company,Centralizes all the resources needed to provid...,NaN,https://app.dealroom.co/companies/ekyno_company,https://www.ekyno.com/,https://twitter.com/ekynocompany,NaN,https://www.linkedin.com/company/ekyno,...,NaN,"{'id': 1826359, 'last_update_date': '2020-05-1...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '0', 'annual_growth': None, 'sour...","[{'date': '2020-06-01', 'value': 0}, {'date': ...",0,almost_deeptech,0.5
1506,217428,Le Closet,le_closet,Découvrez l'univers Le Closet - Une sélection ...,NaN,https://app.dealroom.co/companies/le_closet,http://lecloset.fr,https://twitter.com/lecloset,https://www.facebook.com/lecloset.fr,https://www.linkedin.com/company/5208845,...,NaN,"{'id': 25097, 'last_update_date': '2019-08-12T...","{'items': [{'id': 1074526, 'name': 'Quentin Ha...","{'items': [{'id': 31604, 'name': '50 Partners'...","{'items': [{'id': 32950, 'year': 2015, 'month'...","{'visitors': '71452', 'annual_growth': 76.4856...","[{'date': '2017-01-01', 'value': 40486}, {'dat...",3,almost_deeptech,0.5
1508,1660577,Opta LP,opta_lp,Opta LP | Optimization softwares to improve yo...,NaN,https://app.dealroom.co/companies/opta_lp,http://opta-lp.com,https://twitter.com/opta_lp,NaN,https://fr.linkedin.com/in/opta-lp-9ba2b881,...,NaN,"{'id': 1725821, 'last_update_date': '2019-05-2...","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '1403', 'annual_growth': -47.4728...","[{'date': '2018-12-01', 'value': 2671}, {'date...",0,almost_deeptech,0.5

In [26]:
tmp = data
tmp["update"] = tmp.employees_latest

for url in missing.linkedin_url:
#     print(tmp[tmp.linkedin_url == url]["name"])
    replace_value = missing[missing.linkedin_url == url]["check"].iloc[0]
    print(replace_value)
    tmp.loc[(tmp.linkedin_url == url), "update"] = replace_value
    print(tmp[tmp.linkedin_url == url][["update"]])
    print("--------")

3108.0
    update
50  3108.0
--------
1.0
     update
141     1.0
--------
11.0
     update
520    11.0
--------
17.0
     update
590    17.0
--------
4.0
     update
627     4.0
--------
9.0
     update
631     9.0
--------
4.0
     update
741     4.0
--------
147.0
      update
1001   147.0
--------
29.0
      update
1019    29.0
--------
96.0
      update
1049    96.0
--------
1.0
      update
1081     1.0
--------
1721.0
      update
1089  1721.0
--------
7.0
      update
1182     7.0
--------
31.0
      update
1184    31.0
--------
2.0
      update
1227     2.0
--------
31.0
      update
1506    31.0
--------

In [33]:
tmp2 = impute_missing_employees(tmp)
tmp2[tmp2.name == "Avril"]

,id,name,path,tagline,about,url,website_url,twitter_url,facebook_url,linkedin_url,...,investors,fundings,traffic,similarweb_chart,job_openings,deep_or_not,target,check,update,employees_imputed
50,1249456,Avril,avril,"Avril Group, French industrial and financial p...",NaN,https://app.dealroom.co/companies/avril,http://www.groupeavril.com/en,https://twitter.com/avril,NaN,https://www.linkedin.com/company/1238517,...,"{'items': [], 'total': 0}","{'items': [], 'total': 0}","{'visitors': '10966', 'annual_growth': -36.667...","[{'date': '2017-10-01', 'value': 17315}, {'dat...",0,deeptech,1.0,NaN,3108.0,3108.0

In [43]:
import re
import math

def average_list(range_list):
    return sum(range_list)/len(range_list)

def compute_employees_mean(data):
    range_list = list(data.employees.unique())
    range_list.remove("n.a.")
    keys_list = []
    means_list = []

    for i in range(len(range_list)) :
        if type(range_list[i]) == str :
            temp = re.findall(r'\d+', range_list[i]) 
            res = list(map(int, temp)) 
            mean = average_list(res)
            means_list.append(mean)
            keys_list.append(range_list[i])
        else:
            pass

    zip_iterator = zip(keys_list, means_list)
    range_dict = dict(zip_iterator)
    
    return range_dict

def impute_missing_employees(data):
    
    data = data.copy()
    data["employees_imputed"] = data.employees_latest
    

    #imputing according to the range given by Dealroom in the column "employees" 
    #thanks to the function "compute_employees_mean" 
    range_dict = compute_employees_mean(data)
    data.loc[data.employees_imputed.isna(), "employees_imputed"] = range_dict[data.employees]
    
    return data

In [85]:
tmp = data

In [88]:
dictionary = compute_employees_mean(tmp)
dictionary

{'2-10': 6.0,
 '11-50': 30.5,
 '51-200': 125.5,
 '5001-10000': 7500.5,
 '1': 1.0,
 '201-500': 350.5,
 '1001-5000': 3000.5,
 '501-1000': 750.5,
 '10001+': 10001.0}

In [90]:
#hf['w'] = hf.apply(lambda x: gf.loc[(x.a, x.b)], axis=1)


def replace_employees(df):
    df["employees_imputed"] = df.employees_latest
    for key, value in dictionary.items():
        df.loc[(df.employees == key) & (df.employees_latest.isna()), "employees_imputed"] = value
        
replace_employees(tmp)

In [108]:
tmp[["employees_latest","employees_imputed"]].isnull().sum()

employees_latest     139
employees_imputed     81
dtype: int64

In [115]:
tmp[tmp.employees.isnull()][["employees"]].isna().sum()

employees    80
dtype: int64

In [106]:
data.employees.unique()

array(['2-10', '11-50', '51-200', nan, '5001-10000', '1', '201-500',
       '1001-5000', '501-1000', '10001+', 'n.a.'], dtype=object)

In [100]:
tmp.employees_imputed.isna().sum()

81

In [104]:
tmp.employees_latest.isnull().sum()

139

In [65]:
tmp.loc[tmp.employees_latest.isna(), "employees"]

15            2-10
32             NaN
50      5001-10000
86             NaN
87               1
           ...
1491          2-10
1492          2-10
1500          2-10
1506         11-50
1508           NaN
Name: employees, Length: 139, dtype: object

In [68]:
tmp["employees_imputed"] = tmp.employees_latest

In [81]:
dictionary

{'2-10': 6.0,
 '11-50': 30.5,
 '51-200': 125.5,
 '5001-10000': 7500.5,
 '1': 1.0,
 '201-500': 350.5,
 '1001-5000': 3000.5,
 '501-1000': 750.5,
 '10001+': 10001.0}

In [70]:
tmp[tmp.employees_latest.isna()]["employees_imputed"] = tmp["employees"].apply(lambda x: dictionary.get(x))

<ipython-input-70-1fbad3b9d590>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp[tmp.employees_latest.isna()]["employees_imputed"] = tmp["employees"].apply(lambda x: dictionary.get(x))

In [80]:
tmp[tmp.name == "Biin"][["name", "employees", "employees_latest", "employees_imputed"]]

      name employees  employees_latest  employees_imputed
1492  Biin      2-10               NaN                NaN

# Import data + data cleaning thanks to info retrieved from Linkedin

In [ ]:
def impute_missing_launch_year(data):

    names = ['Amypore',
     'Kinnov Therapeutics',
     'Lipofabrik',
     'Step pharma',
     'LiMM Therapeutics',
     'Ilek',
     'LysPackaging',
     'TexiSense',
     "Institut de Prise en Charge de l'Obésité",
     'Izi Family',
     'Arthur Dupuy']

    # inserting missing launch year and month for the 11 companies with fundraising
    launch_years = [2018, 2015, 2012, 2014, 2018, 2016, 2015, 2010, 2011, 2016, 2015]

    zipbObj = zip(names, launch_years)
    launch_year_dict = dict(zipbObj)

    data["launch_year_imputed"] = data['launch_year']
    
    for name, year in launch_year_dict.items() : 
        data.loc[data.name == name, "launch_year_imputed"] = year
    return data

In [ ]:
class GetData():

    def get_data():
        data = pd.read_csv("../bpideep/rawdata/data2020-12-03.csv")
        
        #selection of need columns
        data = data[["id", "name", "target", "deep_or_not", "total_funding_source", "employees",
                     "employees_latest", "launch_year", "growth_stage", "linkedin_url"]]
        
        #imputing the missing launch year (only 11 done manually -> to be automatized if a new source displays it)
        impute_missing_launch_year(data)
        
        # drop 2 duplicated companies Lalilo and Pixyl*
        data.drop(data[(data.id == 1787891) | (data.id == 1893232)].index, inplace = True)

        data['growth_stage_imputed'] = data.apply(lambda row: fill_missing_growth(
                row['growth_stage'], 
                row['launch_year_imputed']), 
            axis=1
        )
        
        #imputing missing values from LinkedIn scraping
        missing = pd.read_csv("../bpideep/data/missing_employee_count.csv")
        data["employees_clean"] = data.employees_latest
        data.loc[data.name == "CCI Paris Ile de France", "employees_clean"] = 1793

        for url in missing.linkedin_url:
            replace_value = missing[missing.linkedin_url == url]["check"].iloc[0]
            data.loc[data.linkedin_url == url, "employees_clean"] = replace_value

        return data

#         *    
#                 + 3 duplicated names but with different id : 
#                     1/ Lalilo : 926521 (http://www.lalilo.com/) vs. 1787891 (http://lalilo.fr) 
#             -> same launch date, french website no longer exists + observation  almost filled by NAN + same obs as the .com 
#             -> drop the french Lalilo (1787891)
#                     2/ Pixyl : 892048 vs 1893232 (different websites mentioned but same website page when launched) 
#             -> kept  892048 because more info + the Dealroom profile was verified by Dealroom team on Sept, 1st 2020 vs. pending verification
#                     3/ NANOZ : 1836121 vs 1660543 -> kept both as different companies but the second one is German

# Create outputs

## funding_employees_ratio

### age

In [ ]:
def age(x):
    return 2020 - x

In [ ]:
df["age"] = df["launch_year"].map(lambda x: age(x))

In [ ]:
df.target.value_counts()

### employees

Imputing the 75 missing employees values according to the growth stage and the launch year

In [ ]:
df.employees_latest.isna().sum()

#### imputing 3 missing growth stage values with the mode of the launch year

In [ ]:
df[df.growth_stage.isna()]

In [ ]:
growth_imputer = selected_data[["growth_stage", "launch_year", "id"]].groupby(by=["launch_year", "growth_stage"]).count()
growth_imputer

A AUTOMATISER

In [ ]:
year = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
stage_mode = ["early growth", "early growth", "seed", "early growth", "early growth", 
             "early growth", "early growth", "early growth", "seed", "seed", "seed"]

zipbObj = zip(year, stage_mode)
growth_dict = dict(zipbObj)
growth_dict

In [ ]:
import math
def fill_missing_growth(growth_stage, launch_year, growth_dict):
    if type(growth_stage) == str:
        return growth_stage    
    else:
        return growth_dict[launch_year]

In [ ]:
df['growth_stage_imputed'] = df.apply(
    lambda row: fill_missing_growth(
        row['growth_stage'], 
        row['launch_year'], 
        growth_dict), 
    axis=1
)

#### Impute the 79 missing employees values according to the growth stage and the age

In [ ]:
df.head()

##### according to launch year and growth stage imputed : employees_1

In [ ]:
employees_imputer = df[["employees_latest", "launch_year", "growth_stage_imputed"]].groupby(by=["launch_year", "growth_stage_imputed"]).median()
employees_imputer

In [ ]:
employees_imputer1 = employees_imputer.to_dict(orient="index")

In [ ]:
df[df.employees_latest.isna()]

In [ ]:
np.mean(df[(df.launch_year== 2011) & (df.employees_latest < 200)]["employees_latest"])

In [ ]:
def fill_missing_employees(n_employees, launch_year, growth, imputer_dict):
    if np.isnan(n_employees):
        return imputer_dict[(launch_year, growth)]['employees_latest']
    else:
        return n_employees

In [ ]:
df['employees_1'] = df.apply(
    lambda row: fill_missing_employees(
        row['employees_latest'], 
        row['launch_year'], 
        row['growth_stage_imputed'],
        employees_imputer1), 
    axis=1
)

##### according to launch year only : employees_2

In [ ]:
employees_imputer2 = df[["employees_latest", "launch_year"]].groupby(by=["launch_year"]).median()
employees_imputer2

In [ ]:
df[(df.employees_latest > 200)]

In [ ]:
employees_imputer2 = employees_imputer2.to_dict(orient="index")

In [ ]:
def fill_missing_employees2(n_employees, launch_year, imputer_dict):
    if np.isnan(n_employees):
        return imputer_dict[launch_year]['employees_latest']
    else:
        return n_employees

In [ ]:
df['employees_2'] = df.apply(
    lambda row: fill_missing_employees2(
        row['employees_latest'], 
        row['launch_year'], 
        employees_imputer2), 
    axis=1
)

##### according to growth stage only : employees_3

In [ ]:
employees_imputer3 = df[["employees_latest", "growth_stage_imputed"]].groupby(by=["growth_stage_imputed"]).median()
employees_imputer3

In [ ]:
df[(df.growth_stage_imputed == "late growth") & (df.employees_latest > 500)]

In [ ]:
employees_imputer3 = employees_imputer3.to_dict(orient="index")

In [ ]:
def fill_missing_employees3(n_employees, growth, imputer_dict):
    if np.isnan(n_employees):
        return imputer_dict[growth]['employees_latest']
    else:
        return n_employees

In [ ]:
df['employees_3'] = df.apply(
    lambda row: fill_missing_employees3(
        row['employees_latest'], 
        row['growth_stage_imputed'], 
        employees_imputer3), 
    axis=1
)

### Funding_employees ratio : 3 methods according to employees_1, employees_2, and employees_3

In [ ]:
list = list(df[df.employees_latest.isna()]["id"])

In [ ]:
def funding_amounts_employees(data, nb):
    '''
    function that performs the ratio between funding and employees
    '''

    funding = data['total_funding_source']
    employees = data[f"employees_{nb}"]

    return funding/employees

In [ ]:
for i in range(1,4):
    df[f"funding_employees_ratio{i}"] = funding_amounts_employees(df, i)

In [ ]:
df[df.id == list[4]][["funding_employees_ratio1", "funding_employees_ratio2", "funding_employees_ratio3"]]

##### festures distribution

In [ ]:
import plotly.express as px

X = df[["funding_employees_ratio1", "funding_employees_ratio2", "funding_employees_ratio3"]]

fig = px.box(X.melt(), y="value", facet_col="variable", boxmode="overlay", color="variable")
fig.update_yaxes(matches=None)

for i in range(len(X.columns.tolist())):
    yaxis_name = 'yaxis' if i == 0 else f'yaxis{i + 1}'
    fig.layout[yaxis_name].showticklabels = True

fig.update_layout(legend = dict(bgcolor = 'white'))
fig.update_layout(plot_bgcolor='white')

fig.update_xaxes(showline=True, linewidth=2, linecolor='black')#, mirror=True)
fig.update_yaxes(showline=True, linewidth=2, linecolor='black')#, mirror=True)

fig.update_xaxes(showgrid=True, gridwidth=1, gridcolor='gray')
fig.update_yaxes(showgrid=True, gridwidth=1, gridcolor='gray')

fig.show()

In [ ]:
import math 

def log(x):
    return math.log(1+x)

for i in range(1,4):
    df[f"funding_employees_logratio{i}"] = df[f"funding_employees_ratio{i}"].apply(lambda x: log(x))

In [ ]:
logcheck = df[["funding_employees_logratio1", "funding_employees_logratio2", "funding_employees_logratio3"]]

fig = px.box(logcheck.melt(), y="value", facet_col="variable", boxmode="overlay", color="variable")
fig.update_yaxes(matches=None)

for i in range(len(logcheck.columns.tolist())):
    yaxis_name = 'yaxis' if i == 0 else f'yaxis{i + 1}'
    fig.layout[yaxis_name].showticklabels = True

fig.update_layout(legend = dict(bgcolor = 'white'))
fig.update_layout(plot_bgcolor='white')

fig.update_xaxes(showline=True, linewidth=2, linecolor='black')#, mirror=True)
fig.update_yaxes(showline=True, linewidth=2, linecolor='black')#, mirror=True)

fig.update_xaxes(showgrid=True, gridwidth=1, gridcolor='gray')
fig.update_yaxes(showgrid=True, gridwidth=1, gridcolor='gray')

fig.show()

In [ ]:
df.shape

## nb_patents

BPI is working on getting better data for the patents -> keeps the actual patents csv and impute with 0 when value is missing

In [ ]:
patent = pd.read_csv("../bpideep/data/patents.csv")

In [ ]:
df = pd.merge(df, patent, on= ["id", "id"], how = "left")

In [ ]:
df

In [ ]:
patent_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value = 0)
patent_imputer.fit(df[["nb_patents"]])
df["nb_patents_imputed"] = patent_imputer.transform(df[["nb_patents"]])

In [ ]:
plt.boxplot(df.nb_patents_imputed);

RobustScaler -> outliers

In [ ]:
r_scaler = RobustScaler()
df["nb_patents_imputed_scaled"] = r_scaler.fit_transform(df[["nb_patents_imputed"]])

In [ ]:
df["nb_patents_imputed_log"] = df["nb_patents_imputed"].apply(lambda x: log(x))

# PIPELINE

##### /!\ AUTOMATISER IMPUTING MODE OF THE GROWTH STAGE

##### employees imputing 1 : age and growth stage

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin

class EmployeeImputer1(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        
        self.yg_median = X[["employees_latest", "launch_year", "growth_stage_imputed"]].groupby(by=["launch_year", "growth_stage_imputed"]).median()
        self.years = X.launch_year.unique()
        self.growths = X.growth_stage_imputed.unique()
            
        print(self.yg_median)
        return self
    
    def transform(self, X, y=None):
        
        X = X.copy()
        
        X["employees_latest1"] = X.employees_latest
        
        for year in self.years:
            for growth in self.growths:
                if sum(self.yg_median.index.isin([(year, growth)])) > 0:
                    replace_value = self.yg_median.loc[(year, growth)][0]
                else:
                    replace_value = self.yg_median.loc[(year)].reset_index(level=0)["employees_latest"].mean()
                
                boolean_condition = ((X.launch_year == year) & (X.growth_stage_imputed == growth) & (X.employees_latest1.isna()))
                X.loc[boolean_condition, "employees_latest1"] = replace_value

        return X[["employees_latest1"]]

##### employees imputing 2 : age

In [ ]:
class EmployeeImputer2(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        
        self.yg_median = X[["employees_latest", "launch_year"]].groupby(by=["launch_year"]).median()
        self.years = X.launch_year.unique()
        
        print(self.yg_median)
        return self
    
    def transform(self, X, y=None):
        
        X = X.copy()
        
        X["employees_latest2"] = X.employees_latest
        
        for year in self.years:
            replace_value = self.yg_median.loc[(year)][0]
            boolean_condition = ((X.launch_year == year) & (X.employees_latest.isna()))
            X.loc[boolean_condition, "employees_latest2"] = replace_value

        return X[["employees_latest2"]]

##### employees imputing 3 : growth stage

In [ ]:
class EmployeeImputer3(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        
        self.yg_median = X[["employees_latest", "growth_stage_imputed"]].groupby(by=["growth_stage_imputed"]).median()
        self.growths = X.growth_stage_imputed.unique()
        
        print(self.yg_median)
        return self
    
    def transform(self, X, y=None):
        
        X = X.copy()
        
        X["employees_latest3"] = X.employees_latest
        
        for growth in self.growths:
            replace_value = self.yg_median.loc[(growth)][0]
            boolean_condition = ((X.growth_stage_imputed == growth) & (X.employees_latest.isna()))
            X.loc[boolean_condition, "employees_latest3"] = replace_value

        return X[["employees_latest3"]]

##### Patent imputing

In [ ]:
from sklearn.pipeline import make_pipeline

patent_transformer = make_pipeline(
                                SimpleImputer(missing_values=np.nan, strategy='constant', fill_value = 0),
                                RobustScaler())
    
### ROBUSTSCALER or log(1+x) ??

##### Feature  : funding / employees ratio

In [ ]:
from sklearn.pipeline import FeatureUnion
from sklearn.preprocessing import FunctionTransformer

funding_employees_ratio_constructor1 = FunctionTransformer(
    lambda df: pd.DataFrame(df["total_funding_source"] / df["employees_latest1"]))

funding_employees_ratio_constructor2 = FunctionTransformer(
    lambda df: pd.DataFrame(df["total_funding_source"] / df["employees_latest2"]))

funding_employees_ratio_constructor3 = FunctionTransformer(
    lambda df: pd.DataFrame(df["total_funding_source"] / df["employees_latest3"]))

In [ ]:
ratio_transformer = Pipeline([
    ("imputer1", EmployeeImputer1()),
    ("ratio", funding_employees_ratio_constructor1),
    ("scaler",  RobustScaler())
])

##### Growth stage OneHotEncoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder

cat_growth_stage = OneHotEncoder(handle_unknown='ignore')

In [ ]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer([
    ("cat_growth_transformer", cat_growth_stage, ["growth_stage_imputed"]),
    ("ratio_transformer", ratio_transformer, ["employees_latest", "total_funding_source"]),
    ("patent_transformer", patent_transformer, ["nb_patents"])
    ])

In [ ]:
from sklearn import set_config; set_config(display='diagram')
preprocessor

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pipemodel = Pipeline(steps=[
                            ('features', preprocessor),
                            ('model', LogisticRegression(C = 1.52, penalty = 'l1', solver= 'liblinear'))
                             ])

In [ ]:
pipemodel

In [ ]:
df.columns

In [ ]:
X_tmp = df.drop(columns = ["target", "deep_or_not"])
y_tmp = df.target

In [ ]:
X_tmp.columns

In [ ]:
pipemodel.fit(X_tmp, y_tmp)

In [ ]:
pipemodel

In [ ]:
# pd.set_option('display.max_rows', 500)
# check = tmp.growth_stage == tmp.growth_stage_imputed
# tmp["check"] = check
# tmp[(tmp.check == False) & (tmp.growth_stage_imputed.notna())][["name", "growth_stage", "growth_stage_imputed", "check"]]

In [116]:
def fill_missing_growth(growth_stage, launch_year):

    year = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    stage_mode = ["early growth", "early growth", "seed", "early growth", "early growth", 
                 "early growth", "early growth", "early growth", "seed", "seed", "seed"]

    zipbObj = zip(year, stage_mode)
    growth_dict = dict(zipbObj)

    if type(growth_stage) == str:
        return growth_stage    
    elif launch_year in year:
        return growth_dict[launch_year]
    else:
        return growth_stage