In [1]:
%load_ext autoreload
%autoreload 2

# Explore

## Data clean

In [2]:
from bpideep.cleaning import clean_data

In [3]:
from bpideep.cleaning import get_data,clean_data

In [5]:
data = get_data()

In [4]:
data_clean = clean_data(data)

NameError: name 'data' is not defined

## Explore Industries

In [269]:
extract_json(data.industries).head()

Empty DataFrame
Columns: []
Index: []

In [275]:
data.industries[0]

"[{'id': 1254, 'name': 'health'}, {'id': 1264, 'name': 'fintech'}]"

## Explore kpi_summary

In [316]:
type(data.kpi_summary[0]) is str

True

In [318]:
s = ast.literal_eval(data.kpi_summary[0])
type(s) is dict

True

In [325]:
kpi_df = extract_json(data.kpi_summary)

,currency,last_update_date,last_update_date_utc,valuations,values,values_sources
id,,,,,,
1782186,None,2019-09-17T02:29:55+0100,2019-09-17 01:29:55,[],[],[]
125243,EUR,2020-07-31T10:34:23+0100,2020-07-31 09:34:23,"[{'id': 352523, 'year': 2019, 'month': 2, 'sou...",[],[]
322106,None,2020-07-31T10:29:51+0100,2020-07-31 09:29:51,"[{'id': 1006235, 'year': 2019, 'month': 10, 's...",[],[]
7092,None,2020-07-31T10:29:51+0100,2020-07-31 09:29:51,"[{'id': 167170, 'year': 2016, 'month': 7, 'sou...",[],[]
98420,None,2020-07-31T10:29:23+0100,2020-07-31 09:29:23,"[{'id': 151215, 'year': 2016, 'month': 4, 'sou...",[],[]

In [329]:
extract_json(kpi_df['valuations']).sort_values('valuation_max', ascending = False).head()

,market_cap,market_cap_currency,month,source,source_round,valuation,valuation_currency,valuation_max,valuation_min,year
id,,,,,,,,,,
201747,None,None,7.0,funding,SERIES A,NaN,EUR,282000000.0,188000000.0,2018
197727,None,None,5.0,funding,SERIES B,NaN,USD,225000000.0,150000000.0,2018
144332,None,None,9.0,funding,SERIES A,NaN,USD,210000000.0,140000000.0,2015
142781,None,None,4.0,funding,SERIES A,NaN,EUR,192000000.0,128000000.0,2013
167415,None,None,1.0,funding,SERIES B,NaN,USD,180000000.0,120000000.0,2008

In [332]:
data.id == 201747

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
Name: id, Length: 455, dtype: bool

In [333]:
data.loc[data.id == 201747, :]

Empty DataFrame
Columns: [Unnamed: 0, about, achievements, alexa_rank_chart, angellist_url, app_12_months_growth_percentile, app_12_months_growth_relative, app_12_months_growth_unique, app_3_months_growth_percentile, app_3_months_growth_relative, app_3_months_growth_unique, app_6_months_growth_percentile, app_6_months_growth_relative, app_6_months_growth_unique, appstore_app_id, client_focus, company_status, corporate_industries, crunchbase_url, delivery_method, employee_12_months_growth_delta, employee_12_months_growth_percentile, employee_12_months_growth_relative, employee_12_months_growth_unique, employee_3_months_growth_delta, employee_3_months_growth_percentile, employee_3_months_growth_relative, employee_3_months_growth_unique, employee_6_months_growth_delta, employee_6_months_growth_percentile, employee_6_months_growth_relative, employee_6_months_growth_unique, employees, employees_chart, employees_latest, facebook_likes_chart, facebook_url, fundings, google_url, growth_stage, has_strong_founder, has_super_founder, hq_locations, id, images, income_streams, industries, investors, job_openings, kpi_summary, last_funding, last_funding_source, last_updated, last_updated_utc, launch_month, launch_year, linkedin_url, name, ownerships, path, payments, playmarket_app_id, revenues, service_industries, similarweb_12_months_growth_delta, similarweb_12_months_growth_percentile, similarweb_12_months_growth_relative, similarweb_12_months_growth_unique, similarweb_3_months_growth_delta, similarweb_3_months_growth_percentile, similarweb_3_months_growth_relative, similarweb_3_months_growth_unique, similarweb_6_months_growth_delta, similarweb_6_months_growth_percentile, similarweb_6_months_growth_relative, similarweb_6_months_growth_unique, similarweb_chart, sub_industries, tagline, tags, team, technologies, tg_locations, total_funding, total_funding_source, traffic, traffic_summary, twitter_favorites_chart, twitter_followers_chart, twitter_tweets_chart, twitter_url, url, website_url]
Index: []

[0 rows x 93 columns]

# Data Cleaning

## extract_json fonction

In [16]:
import ast
import pandas as pd
import numpy as np

def extract_json(column):  
    '''Extract a json form a column, return a data frame'''
    
    def to_dic(string):
        if type(string) is str:
            string = ast.literal_eval(string)
            if type(string) is dict:
                return string
            else : 
                try : 
                    return string[0]
                except:
                    return np.nan
      
        elif type(string) is list and string:
            return string[0]
        else: 
            return np.nan
        
    column = column.map(lambda x : to_dic(x))

    df = pd.DataFrame(column.dropna().to_list())
    
    if 'id' in df.columns:
        df.set_index('id', inplace = True)
    
    return df

## Encode hq_locations

In [35]:
zip_code.isna().sum()

141

In [22]:

def 
hq_locations_df = extract_json(data.hq_locations)
zip_code = hq_locations_df.iloc[:,-1]
zip_cut= zip_code.dropna().apply(lambda x : x[0:2])

# Bulk Search

In [69]:
from bpideep.getdata import bulk_search

In [78]:
df = bulk_search( form_data =  {
                            "must": {"last_round_year": "2019","hq_locations": "France"},
                            "must_not": {},
                            "should": {}
                            })

In [ ]:
df = bulk_search( form_data = {"must": {"last_round_year": "2019","hq_locations": "France"} } )

In [79]:
df

{'error': True, 'code': 17, 'message': 'Invalid form data format'}

In [104]:
bulk_search(keyword = "Dealroom", form_data = {
      "must": {
        "last_updated": "2016-12-10 00:00:00",
        "industries": ["fintech"],
        "tags": ["banking", "investing"],
        "hq_locations": ["Europe", "United States"]
      },
      "should": {
        "fundings": ["1-10M"]
      },
      "must_not": {
        "client_focus": ["consumer"]
      }
  })

{'error': True, 'code': 17, 'message': 'Invalid form data format'}